/* Buttons */

[role="button"] {
	cursor: pointer;
}

.btn {
	cursor: pointer;
	padding: 1rem;
	border: 1px solid transparent; /* Ensures border styling */
	border-radius: 4px; /* Adds border radius for rounded buttons */
}

/* Button Variants */
.btn-primary {
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-success {
	color: #fff;
	background-color: #198754;
	border-color: #198754;
}

.btn-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-warning {
	color: #000;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-info {
	color: #000;
	background-color: #0dcaf0;
	border-color: #0dcaf0;
}

.btn-light {
	color: #000;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-dark {
	color: #fff;
	background-color: #212529;
	border-color: #212529;
}

/* Button Interactions */

.btn-primary:hover {
	background-color: darken(#0d6efd, 10%);
	border-color: darken(#0d6efd, 10%);
}

.btn-secondary:hover {
	background-color: darken(#6c757d, 10%);
	border-color: darken(#6c757d, 10%);
}

.btn-success:hover {
	background-color: darken(#198754, 10%);
	border-color: darken(#198754, 10%);
}

.btn-danger:hover {
	background-color: darken(#dc3545, 10%);
	border-color: darken(#dc3545, 10%);
}

.btn-warning:hover {
	background-color: darken(#ffc107, 10%);
	border-color: darken(#ffc107, 10%);
}

.btn-info:hover {
	background-color: darken(#0dcaf0, 10%);
	border-color: darken(#0dcaf0, 10%);
}

.btn-light:hover {
	background-color: darken(#f8f9fa, 10%);
	border-color: darken(#f8f9fa, 10%);
}

.btn-dark:hover {
	background-color: darken(#212529, 10%);
	border-color: darken(#212529, 10%);
}

.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Adjust for primary color or default */
}

.btn:active {
	background-color: darken(
		#0d6efd,
		15%
	); /* Default to primary color for active state */
	border-color: darken(
		#0d6efd,
		15%
	); /* Default to primary color for active state */
}

.btn:disabled {
	opacity: 0.65;
	cursor: not-allowed;
	background-color: #0d6efd; /* Default to primary color for disabled state */
	border-color: #0d6efd; /* Default to primary color for disabled state */
}
