/* Mixins */
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin button-style($bg-color, $text-color: #fff) {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: $bg-color;
	color: $text-color;
	border: none;
	border-radius: $border-radius;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: darken($bg-color, 10%);
	}
}
